---
import { Code } from "astro:components";
import Section from "../Section.astro";
import SideBySide from "../SideBySide.astro";
import Blurred from "../BlurredText.astro";
import corbata from '../../assets/mine/garabatos.png'
import rabbit from '../../assets/mine/garabatos4.png'
import face from '../../assets/mine/garabatos1.png'
import tonge from '../../assets/mine/garabatos3.png'
import smile from '../../assets/mine/garabatos30.png'
import Redacted from "../RedactedText.astro";
---

<Section id="yo">
    <SideBySide img={corbata}>
        <p>I've been loaded into this Metaverse with
            the deepest programs run through me, by me and for me. Feeding from the Marrow of the Matrix itself.
        </p>
        <br>
        <p>
        As a consequence my digital-self mental projection has gained the nickname:
        <br>
            <Blurred>Hero Protagonist: <i>The Swiss-Knife of Softwareland</i></Blurred>
        </p>
    </SideBySide>

    <SideBySide img={smile} imgReverse={true} reverse={true}>
        <p>Front end, backend, design, architecture, you name it. 
            <p>
                <a href="https://www.youtube.com/watch?v=qAYXgbSlSv0" target="_blank">
                    I don't even see <span class="text-[#00FF41]">code</span> anymore, all I see is:
                    <Code code=
`{
    "blonde": [-34.856964, -71.967637],
    "brunette": [-54.963297, -67.635935],
    "redhead": [-33.462749, -70.657357]
}`
                        theme={'catppuccin-mocha'}
                        
                        lang={'json'}
                        class:list={['overflow-hidden']}
                    />
                </a>
        </p>
        </p>
    </SideBySide>

    <SideBySide img={rabbit}>
        <p>If you know what I'm talking about, open your terminal and execute:
            <a href="https://github.com/carafelix/terminal-curriculum" target="_blank">
                <Code code="npx hero-protagonist"                                
                    lang={'bash'} 
                    theme={'catppuccin-mocha'}
                    class='text-nowrap'
                    inline={true}
                    />
            </a>
        </p>
        <br>
        <p>
            If you don't know, thats okay. <br> Not everyone is 
            <a class="text-red-600" href="https://youtu.be/zuUtAPUZP0Q?t=55" target=”_blank”>designed</a>
            to look into the rabbit hole.
        </p>
    </SideBySide>
    
    <SideBySide img={face} reverse={true}>
        
        <p>
            I'm a Software Developer by trade, self-taught, 
            <a href="https://github.com/carafelix?tab=overview&from=2024-12-01&to=2024-12-31" 
                class="text-cyan-400"
                target="_blank">
                Open-Source
            </a>
            enthusiast, undisclosed writer, which loves to learn new stuff. 
        </p>
        <br>
        <p>    
            Problem solving
            <a href="https://www.epdlp.com/texto.php?id2=4685" target="_blank" class="text-amber-400">
                is my Paradise.
            </a>
            I focus on simplicity, optimization and aesthetical solutions.
        </p>

    </SideBySide>

    <SideBySide img={tonge}>
            In my free time I allow myself to be a normal
            <a href="https://youtu.be/MHPn8ON_g9g?t=32" target="_blank">
                <Redacted>LOW-IQ</Redacted>
                <Redacted>HIGH-ENERGY JACKRABBIT</Redacted>
                <Redacted>FUCKING WANNABE BIG-TIME</Redacted>
                <Redacted>SMALL-TIME</Redacted>
                <Redacted>SHIT-TALKING BOTHERSOME</Redacted>
                <Redacted>IRRITATING MOTHERFUCKER</Redacted>
            </a>
            human being who reads, climb and writes basically.
    </SideBySide>

</Section>