---
import Seo from "../components/Seo.astro"
import Posthog from '../components/Posthog.astro'

const title = 'Hero Protagonist'
const description = 'Personal Website of the World-Honored One'
const image = {
    src: 'https://heroprotagonist.is-a.dev/preview.jpeg',
    alt: "Face of me"
}
---
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />

    <meta name="description" content={'description'} />

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Jersey+10&family=Redacted+Script:wght@300;400;700&display=swap" rel="stylesheet">

    <title>{title}</title>

    <Seo {title} {description} {image} />
    <Posthog />

</head>